{% extends '@AppCore/Layouts/layout.html.twig' %}

{% block page_title %}
    {{ product.title }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-5">
            <div class="row lightbox-gallary-list">
                {% for image in product.images %}
                    {% if loop.index == 1 %}
                        <div class="col-md-12">
                            <a class="example-image-link" href="{{ getImage(image.imageName, 'products') }}" data-lightbox="example-set" data-title="Text">
                                <img class="example-image"  src="{{ getImage(image.imageName, 'products') }}" alt="" />
                            </a>
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            <a  class="example-image-link" href="{{ getImage(image.imageName, 'products') }}" data-lightbox="example-set" data-title="Text">
                                <img class="example-image"  src="{{ getImage(image.imageName, 'products') }}" alt="" />
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="col-md-7">
            <h2 style="margin-top: 0;">{{ product.title }}</h2>

            <table class="table table-bordered table-striped">
                <tbody>
                <tr>
                    <th>Артикул</th>
                    <th>{{ product.code }}</th>
                </tr>
                {% if product.category.title is defined %}
                <tr>
                    <th>Бренд</th>
                    <th>{{ product.category.title }}</th>
                </tr>
                {% endif %}
                <tr>
                    <th>Страна производитель</th>
                    <th>{{ product.country.title }}</th>
                </tr>
                <tr>
                    <th>Цена</th>
                    <th>{{ product.price }}</th>
                </tr>
                </tbody>
            </table>

            <add-to-cart>
                {{ form_start(addProductToCartForm, { 'attr': {'@submit.prevent': ''} }) }}
                <div class="form-group">
                {{ form_widget(addProductToCartForm.count) }}
                </div>
                <div class="form-group">
                    {{ form_rest(addProductToCartForm) }}
                </div>
                {{ form_end(addProductToCartForm) }}
            </add-to-cart>

        </div>

        <div class="col-md-12 tab-detal-product">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Детальное описание</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Характеристика</a></li>
                <li role="presentation"><a href="#rewrite" aria-controls="rewrite" role="tab" data-toggle="tab">Отзывы</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    {{ product.content|raw }}
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">
                    <table class="table table-bordered">
                        <tbody>
                        {% if product.ballType is not null and product.ballType != '' %}
                            <tr>
                                <td>Тип шара</td>
                                <td>{{ product.ballType }}</td>
                            </tr>
                        {% endif %}
                        {% if product.verticalBurdenBall is not null and product.verticalBurdenBall != '' %}
                            <tr>
                                <td>Вертикальная нагрузка на шар</td>
                                <td>{{ product.verticalBurdenBall }}</td>
                            </tr>
                        {% endif %}
                        {% if product.pullingBurdenBall is not null and product.pullingBurdenBall != '' %}
                            <tr>
                                <td>Тяговая нагрузка на шар</td>
                                <td>{{ product.pullingBurdenBall }}</td>
                            </tr>
                        {% endif %}
                        {% if product.installationCoordinationModule is not null and product.installationCoordinationModule != '' %}
                            <tr>
                                <td>Необходимость установки модуля согласования</td>
                                <td>{{ product.installationCoordinationModule }}</td>
                            </tr>
                        {% endif %}
                        {% if product.systemVoltage is not null and product.systemVoltage != '' %}
                            <tr>
                                <td>Напряжение бортовой сети</td>
                                <td>{{ product.systemVoltage }}</td>
                            </tr>
                        {% endif %}
                        {% if product.permissibleCurrentValues is not null and product.permissibleCurrentValues != '' %}
                            <tr>
                                <td>Допустимое значения тока</td>
                                <td>{{ product.permissibleCurrentValues }}</td>
                            </tr>
                        {% endif %}
                        {% if product.tractionLoad is not null and product.tractionLoad != '' %}
                            <tr>
                                <td>Тяговая нагрузка</td>
                                <td>{{ product.tractionLoad }}</td>
                            </tr>
                        {% endif %}
                        {% if product.removingBumper is not null and product.removingBumper != '' %}
                            <tr>
                                <td>Снятие бампера</td>
                                <td>{{ product.removingBumper }}</td>
                            </tr>
                        {% endif %}
                        {% if product.bumperCropping is not null and product.bumperCropping != '' %}
                            <tr>
                                <td>Подрезка бампера</td>
                                <td>{{ product.bumperCropping }}</td>
                            </tr>
                        {% endif %}
                        {% if product.needHarmonizeModule is not null and product.needHarmonizeModule != '' %}
                            <tr>
                                <td>Необходимость модуля согласования</td>
                                <td>{{ product.needHarmonizeModule }}</td>
                            </tr>
                        {% endif %}
                        {% if product.powerSocket is not null and product.powerSocket != '' %}
                            <tr>
                                <td>Розетка</td>
                                <td>{{ product.powerSocket }}</td>
                            </tr>
                        {% endif %}
                        {% if product.verticalLoad is not null and product.verticalLoad != '' %}
                            <tr>
                                <td>Вертикальная нагрузка</td>
                                <td>{{ product.verticalLoad }}</td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="rewrite">
                    {{ form(reviewForm) }}
                </div>
            </div>
        </div>

        {% if similarProducts|length %}
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">ПОХОЖИЕ ТОВАРЫ</div>
                    <div class="panel-body text-center">
                        <div class="row">
                            {% for entity in similarProducts %}
                                <div class="col-md-4">
                                    <div class="product-block">
                                        <div class="image">
                                            <a title="{{ entity.title }}" href="{{ path('app_show_bundle_product_item', {id: entity.id}) }}" class="img">
                                                {% for image in entity.images %}
                                                    {% if loop.index == 1 %}
                                                        <img src="{{ getImage(image.imageName, 'products') }}" alt="" />
                                                    {% endif %}
                                                {% endfor %}
                                            </a>
                                        </div>
                                        <div class="product-meta">
                                            <div class="name">
                                                <a title="{{ entity.title }}" href="{{ path('app_show_bundle_product_item', {id: entity.id}) }}">{{ entity.title }}</a>
                                            </div>
                                            <div class="big-price">
                                                <span class="price-new">{{ entity.price }} грн.</span>
                                            </div>
                                            <div class="big-btns">
                                                <div class="field field-name-field-product field-type-commerce-product-reference field-label-hidden">
                                                    <div class="field-items">
                                                        <div class="field-item even">
                                                            {{ form(similarAddProductToCartForm[entity.id]) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="small-price"> <span class="price-new">{{ entity.price }} грн.</span></div>
                                        </div>
                                        <div class="meta-back"></div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}