{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}

    <div class="col-md-12">
        <div>
            {% set totalAmount = 0 %}

            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>Code</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                {% for key, item in admin.subject.productItems %}
                    <tr>
                        <td>{{ item.code }}</td>
                        <td>{{ item.title }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.getRealPrice() }}</td>
                    </tr>
                    {% set totalAmount = totalAmount + (item.getRealPrice() * item.quantity) %}
                {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td style="text-align: right"><b>Total:</b></td>
                        <td><b>{{ totalAmount }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}