{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field %}

    <div class="col-md-12">
        <div>
            {% set totalAmount = 0 %}

            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for key, item in admin.subject.items %}
                        <tr>
                            {% for product in item.products %}
                                <td>
                                    <a href="{{ path('admin_app_core_product_show', {
                                        '_sonata_admin': 'app_admin.admin.products',
                                        '_sonata_name': 'admin_app_core_product_show',
                                        'id': product.id
                                    }) }}">
                                        {{ product.title }}
                                    </a>
                                </td>
                            {% endfor %}
                            <td>{{ item.quantity }}</td>
                            <td>{{ item.amount }}</td>
                        </tr>
                        {% set totalAmount = totalAmount + item.amount %}
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td style="text-align: right"><b>Total:</b></td>
                        <td><b>{{ totalAmount }}</b></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}