{% extends 'AppAdminBundle:Admin:layout.html.twig' %}

{% block sonata_admin_content %}

    <div class="row">
        <div class="col-xs-12 col-md-12 sonata-filters-box">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-12 margin-bottom">
                        <div class="row">
                            <div class="pull-right">
                                <a class="btn btn-small btn-success" href="{{ path('app_admin_bundle_dump_create') }}">Экспорт</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <table class="table table-bordered table-striped sonata-ba-list">
                                <tbody>
                                {% for file in files %}
                                    <tr>
                                        <td>{{ file.name }}</td>
                                        <td>{{ file.path }}</td>
                                        <td>
                                            <a class="btn btn-success btn-group-sm" href="{{ path('app_admin_bundle_dump_import', { "fileName": file.name }) }}">{{ 'Import'|trans }}</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-success btn-group-sm" target="_blank" href="{{ path('app_admin_bundle_dump_download', { "fileName": file.name }) }}">{{ 'Download'|trans }}</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger btn-group-sm" target="_blank" href="{{ path('app_admin_bundle_dump_delete', { "fileName": file.name }) }}">{{ 'Delete'|trans }}</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
