<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8" />
    <title>{% block page_title %}{% endblock %} | Farkop-UA</title>
    <link rel="stylesheet" href="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('lightbox2/css/lightbox.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% include '::vue-templates.html.twig' %}

    <div id="app">
        {% block body %}{% endblock %}
    </div>

    <script type="text/javascript" src="{{ asset('bundles/sonataadmin/vendor/jquery/dist/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/sonatacore/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script type="text/javascript" src="{{ asset('js/frontend.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lightbox2/js/lightbox-plus-jquery.min.js') }}"></script>

    <script type="text/javascript" src="{{ asset('assets/vue/dist/vue.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/vue-resource/dist/vue-resource.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/shop.js') }}"></script>

    {% block javascripts %}{% endblock %}
</body>
</html>
