{% extends '::base.html.twig' %}

{% block body %}

    <div class="row_1">
        <div class="container_24">
            <div class="grid_24">
                <div id="header">
                    <div class="box_languages">
                        <div class="languages">
                            <label class="fl_left">Языки в хедере: </label>
                            <a href="https://livedemo00.template-help.com/osc_50671/index.php?language=en&amp;osCsid=ep3m9100695rjk76h4iesojje3">
                                <img src="{{ asset('includes/languages/english/images/icon.gif') }}" alt="English" title="English" width="16" height="11">
                            </a>
                            <img src="{{ asset('images/spacer.gif') }}" alt="" width="1" height="1" class="languages_img">
                            <a href="https://livedemo00.template-help.com/osc_50671/index.php?language=ru&amp;osCsid=ep3m9100695rjk76h4iesojje3">
                                <img src="{{ asset('includes/languages/russian/images/icon.gif') }}" alt="Russian" title="Russian" width="16" height="11">
                            </a>
                            <img src="{{ asset('images/spacer.gif') }}" alt="" width="1" height="1" class="languages_img">
                            <a href="https://livedemo00.template-help.com/osc_50671/index.php?language=de&amp;osCsid=ep3m9100695rjk76h4iesojje3">
                                <img src="{{ asset('includes/languages/german/images/icon.gif') }}" alt="German" title="German" width="16" height="11">
                            </a>
                            <img src="{{ asset('images/spacer.gif') }}" alt="" width="1" height="1" class="languages_img">
                            <a href="https://livedemo00.template-help.com/osc_50671/index.php?language=es&amp;osCsid=ep3m9100695rjk76h4iesojje3">
                                <img src="{{ asset('includes/languages/espanol/images/icon.gif') }}" alt="Spain" title="Spain" width="16" height="11">
                            </a>
                        </div>
                    </div>
                    <div class="box_currencies">
                        <div class="currencies custom_select">
                            <label class="fl_left">Валюты: </label>
                            <form name="currencies" action="https://livedemo00.template-help.com/osc_50671/index.php" method="get" class="jqtransformdone">
                                <div class="jqTransformSelectWrapper" style="z-index: 10; width: 82px;">
                                    <div>
                                        <span style="width: 48px;">U.S. Dollar</span>
                                        <a href="#" class="jqTransformSelectOpen"></a>
                                    </div>
                                    <ul style="width: 80px; display: none; visibility: visible;">
                                        <li><a href="#" index="0" class="selected">U.S. Dollar</a></li>
                                        <li><a href="#" index="1">Euro</a></li>
                                    </ul>
                                    <select name="currency" onchange="this.form.submit();" class="select chzn-select jqTransformHidden">
                                        <option value="USD" selected="selected">U.S. Dollar</option>
                                        <option value="EUR">Euro</option>
                                    </select>
                                </div>
                                <input type="hidden" name="osCsid" value="ep3m9100695rjk76h4iesojje3">
                            </form>
                        </div>
                    </div>
                    <div id="box_search" class="search">
                        <form name="quick_find" action="https://livedemo00.template-help.com/osc_50671/advanced_search_result.php" method="get">
                            <div class="input-width ">
                                <input type="text" name="keywords" value="Поиск по сайту" size="10" maxlength="300" class="go fl_left" onblur="if(this.value=='') this.value='Поиск по сайту'" onfocus="if(this.value =='Поиск по сайту' ) this.value=''">
                                <input type="hidden" name="osCsid" value="ep3m9100695rjk76h4iesojje3">
                            </div>
                            <button id="tdb1" type="submit" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only ui-priority-secondary" role="button">
                                <span class="ui-button-text">Поиск</span>
                            </button>
                            <script type="text/javascript">$("#tdb1").button().addClass("ui-priority-secondary").parent().removeClass("tdbLink");</script>
                            <label class="fl_left">Поиск</label>
                        </form>
                    </div>
                    <div class="box_header_cart destination">
                        <a class="cart_l" href="https://livedemo00.template-help.com/osc_50671/shopping_cart.php?osCsid=ep3m9100695rjk76h4iesojje3">
                            <i class="icon-shopping-cart"></i>

                            <label>Корзина:</label><span><span>в корзине </span><strong>0</strong> товаров</span>

                        </a>
                    </div>
                    <div class="box_header_user_menu">
                        <ul class="user_menu">
                            <li class="first">
                                <a href="https://livedemo00.template-help.com/osc_50671/shipping.php?osCsid=ep3m9100695rjk76h4iesojje3">
                                    <div class="button-t"><span>Доставка</span></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="https://livedemo00.template-help.com/osc_50671/advanced_search.php?osCsid=ep3m9100695rjk76h4iesojje3">
                                    <div class="button-t"><span>Расширенный поиск</span></div>
                                </a>
                            </li>
                            <li class="">
                                <a href="https://livedemo00.template-help.com/osc_50671/create_account.php?osCsid=ep3m9100695rjk76h4iesojje3">
                                    <div class="button-t"><span>Регистрация</span></div>
                                </a>
                            </li>
                            <li class="Вход last">
                                <a href="https://livedemo00.template-help.com/osc_50671/login.php?osCsid=ep3m9100695rjk76h4iesojje3">Вход</a>
                            </li>
                        </ul>
                    </div>
                    <div class="boxes_menu">
                        <div class="menu">
                            <ul>
                                <li class="{{ 'app_core_bundle_page_main' in app.request.attributes.get('_route') ? 'act' }} first">
                                    <a href="{{ path('app_core_bundle_page_main') }}" title="{{ 'Home'|trans }}">
                                        <i class="icon-home"></i>{{ 'Home'|trans }}
                                    </a>
                                </li>
                                <li class="{{ 'app_core_bundle_page_search' in app.request.attributes.get('_route') ? 'act' }}">
                                    <a href="{{ path('app_core_bundle_page_search') }}">
                                        <i class="icon-bullhorn"></i>
                                        {{ 'Search'|trans }}
                                    </a>
                                </li>
                                <li class=""><a href="https://livedemo00.template-help.com/osc_50671/featured_products.php?osCsid=ep3m9100695rjk76h4iesojje3">
                                        Доставка и оплата
                                    </a>
                                </li>
                                <li class="{{ 'app_core_bundle_article_news' in app.request.attributes.get('_route') ? 'act' }}">
                                    <a href="{{ path('app_core_bundle_article_news_list') }}">
                                        {{ 'News'|trans }}
                                    </a>
                                </li>
                                <li class="{{ 'app_core_bundle_article_article' in app.request.attributes.get('_route') ? 'act' }}">
                                    <a href="{{ path('app_core_bundle_article_article_list') }}"><i class="icon-certificate"></i>
                                        {{ 'Articles'|trans }}
                                    </a>
                                </li>
                                <li class="{{ 'app_core_bundle_article_stock' in app.request.attributes.get('_route') ? 'act' }}">
                                    <a href="{{ path('app_core_bundle_article_stock_list') }}">
                                        {{ 'Promotions'|trans }}
                                    </a>
                                </li>
                                <li class="{{ 'app_core_bundle_page_contact' in app.request.attributes.get('_route') ? 'act' }}">
                                    <a href="{{ path('app_core_bundle_page_contact') }}">
                                        <i class="icon-edit"></i>
                                        {{ 'Contacts'|trans }}
                                    </a>
                                </li>
                                <li class="{{ 'app_core_bundle_page_about' in app.request.attributes.get('_route') ? 'act' }} last">
                                    <a href="{{ path('app_core_bundle_page_about') }}">
                                        <i class="icon-map-marker"></i>
                                        {{ 'About us'|trans }}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <a class="logo" href="{{ path('app_core_bundle_page_main') }}">
                        <img src="{{ asset('images/store_logo.png') }}" alt="Auto" title="Auto" width="181" height="77">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row_12">
            {% block breadcrums %}
                <div class="container_24">
                    <div class="grid_24">
                        <div class="breadcrumb">
                        {{ wo_render_breadcrumbs() }}
                        </div>
                    </div>
                </div>
            {% endblock %}
        <div class="container_24">
            <div id="bodyContent" class="grid_18 push_6 ">
                {% block content %}{% endblock %}
            </div>
            <div id="columnLeft" class="grid_6 pull_18">
                {{ render(controller('AppCoreBundle:Default:getSidebar')) }}
            </div>
        </div>
    </div>

    {#<header class="header-container">#}
        {#<div class="container">#}
            {#<div class="row">#}
                {#<div class="col-md-4 info-phone">#}
                    {#<ul class="list-unstyled">#}
                        {#<li><a href="tel:+380731016841">+38 (073) 101-68-41</a></li>#}
                        {#<li><a href="tel:+380731016841">+38 (073) 101-68-41</a></li>#}
                        {#<li><a href="tel:+380731016841">+38 (073) 101-68-41</a></li>#}
                    {#</ul>#}
                {#</div>#}
                {#<div class="col-md-6 col-md-offset-2">#}
                    {#<items-cart :elements="elementsCart" :total="totalCart"></items-cart>#}
                    {#{{ render(controller('AppCoreBundle:Search:searchForm', {'request': app.request})) }}#}
                {#</div>#}
            {#</div>#}

            {#<nav class="navbar navbar-default ">#}
                {#<div class="container-fluid">#}
                    {#<div class="navbar-header">#}
                        {#<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">#}
                            {#<span class="sr-only">Toggle navigation</span>#}
                            {#<span class="icon-bar"></span>#}
                            {#<span class="icon-bar"></span>#}
                            {#<span class="icon-bar"></span>#}
                        {#</button>#}
                    {#</div>#}

                    {#<div class="collapse navbar-collapse">#}
                        {#<ul class="nav nav-pills">#}
                            {#<li class="{{ 'app_core_bundle_page_main' in app.request.attributes.get('_route') ? 'active' }}">#}
                                {#<a href="{{ path('app_core_bundle_page_main') }}" title="{{ 'Home'|trans }}">{{ 'Home'|trans }}</a>#}
                            {#</li>#}
                            {#<li class="{{ 'app_core_bundle_page_search' in app.request.attributes.get('_route') ? 'active' }}">#}
                                {#<a href="{{ path('app_core_bundle_page_search') }}" title="{{ 'Search'|trans }}">{{ 'Search'|trans }}</a>#}
                            {#</li>#}
                            {#<li>#}
                                {#<a href="#">Доставка и оплата</a>#}
                            {#</li>#}
                            {#<li class="{{ 'app_core_bundle_article_news' in app.request.attributes.get('_route') ? 'active' }}">#}
                                {#<a href="{{ path('app_core_bundle_article_news_list') }}" title="{{ 'News'|trans }}">{{ 'News'|trans }}</a>#}
                            {#</li>#}
                            {#<li class="{{ 'app_core_bundle_article_article' in app.request.attributes.get('_route') ? 'active' }}">#}
                                {#<a href="{{ path('app_core_bundle_article_article_list') }}" title="{{ 'Articles'|trans }}">{{ 'Articles'|trans }}</a>#}
                            {#</li>#}
                            {#<li class="{{ 'app_core_bundle_article_stock' in app.request.attributes.get('_route') ? 'active' }}">#}
                                {#<a href="{{ path('app_core_bundle_article_stock_list') }}" title="{{ 'Promotions'|trans }}">{{ 'Promotions'|trans }}</a>#}
                            {#</li>#}
                            {#<li class="{{ 'app_core_bundle_page_contact' in app.request.attributes.get('_route') ? 'active' }}">#}
                                {#<a href="{{ path('app_core_bundle_page_contact') }}" title="{{ 'Contacts'|trans }}">{{ 'Contacts'|trans }}</a>#}
                            {#</li>#}
                            {#<li class="{{ 'app_core_bundle_page_about' in app.request.attributes.get('_route') ? 'active' }}">#}
                                {#<a href="{{ path('app_core_bundle_page_about') }}" title="{{ 'About us'|trans }}">{{ 'About us'|trans }}</a>#}
                            {#</li>#}
                        {#</ul>#}
                    {#</div>#}
                {#</div>#}
            {#</nav>#}
        {#</div>#}
    {#</header>#}

    <section class="container">
        <div class="row">

            <div class="col-md-12">



                <div v-if="message != ''">
                    <br>
                    <div v-bind:class="'alert margin-bottom-15 alert-' + messageStatus">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        ${ message }
                    </div>
                </div>
                <div v-else>
                    {% for flashType in app.session.flashbag.keys %}
                        {% for flash in app.session.flashbag.get(flashType) %}
                            <br>
                            <div class="alert margin-bottom-15 alert-{{ flashType }}">
                                <button type="button" class="close" data-dismiss="alert">&times;</button>
                                {{ flash|trans }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>


                <div class="page-title">
                    <h2>{% block page_title %}{% endblock %}</h2>
                </div>
            </div>

            <div class="col-md-3">
                {#{{ render(controller('AppCoreBundle:Default:getSidebar')) }}#}
            </div>
            <div class="col-md-9" style="padding-top: 20px;">

            </div>
        </div>
    </section>


    <a class="tel-show btn-success" href="#" data-toggle="modal" data-target="#myModal" >
        <i class="glyphicon glyphicon-earphone" style="font-size: 32px;line-height: 74px;"></i>
    </a>

    {{ render(controller('AppCoreBundle:Default:getCallUs', {'request': app.request})) }}

    <process-event :process="process"></process-event>

{% endblock %}
