{% macro recursiveCategory(category) %}
    <li role="presentation" >
         {% if category.children|length %}
            <div class="panel-heading" role="tab" id="collapseListGroupHeading{{ category.id }}">
                <a href="#collapseListGroup{{ category.id }}" class="collapsed" role="button" data-toggle="collapse" aria-expanded="false" aria-controls="collapseListGroup{{ category.id }}"><i class="glyphicon glyphicon-plus"></i> {{ category.title }}</a>
            </div>
             <div class="panel-collapse collapse" role="tabpanel" id="collapseListGroup{{ category.id }}" aria-labelledby="collapseListGroupHeading{{ category.id }}" aria-expanded="false" style="height: 0px;">
                 <ul class="list-group">
                     {% for child in category.children %}
                        {{ _self.recursiveCategory(child) }}
                     {% endfor %}
                 </ul>
             </div>
        {% else %}
            <a href="{{ path('app_core_bundle_category_item', {categoryId: category.id}) }}" title="">{{ category.title }}</a>
         {% endif %}
    </li>
{% endmacro %}

<div class="row">
    <div class="col-md-12 sidebar-category-list">
        <h2 class="block-title">Продукция</h2>
        {% if categories %}
        <ul class="nav nav-pills nav-stacked nav-pills-stacked-example">
            {% for category in categories %}
                {{ _self.recursiveCategory(category) }}
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        {{ render(controller('AppCoreBundle:Default:getLastNewsBlock')) }}
    </div>
</div>