{% extends '@AppCore/Layouts/layout.html.twig' %}

{% block page_title %}
    {% set type = '' %}
    {% if entities.items[0].type == 'article' %}
        {% set type = 'Статьи' %}
    {% elseif entities.items[0].type == 'news' %}
        {% set type = 'Новости' %}
    {% elseif entities.items[0].type == 'stock' %}
        {% set type = 'Акции' %}
    {% endif %}
    {{ type|trans }}
{% endblock %}

{% block content %}

    <div class="box_wrapper_title22 infoBoxWrapper">
        <div class="box_wrapper_title">
            <span class="title-icon"></span>
            <h1>{% set type = '' %}
                {% if entities.items[0].type == 'article' %}
                    {% set type = 'Статьи' %}
                {% elseif entities.items[0].type == 'news' %}
                    {% set type = 'Новости' %}
                {% elseif entities.items[0].type == 'stock' %}
                    {% set type = 'Акции' %}
                {% endif %}
                {{ type|trans }}</h1>
        </div>
    </div>

    {% if entities|length > paginateParameter %}
        <div class="result result1_top">
            <div class="result1_bottom">
                <div class="cl_both result_top_padd ofh">
                    {{ knp_pagination_render(entities) }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="contentContainer page_new_product first last">
        <div class="contentPadd">
            <div class="prods_table">
            {% for entity in entities %}

                {% set urlEntity = '#' %}

                {% if entity.type == 'article' %}
                    {% set urlEntity = path('app_core_bundle_article_article_item', {'slug': entity.slug}) %}
                {% elseif entity.type == 'news' %}
                    {% set urlEntity = path('app_core_bundle_article_news_item', {'slug': entity.slug}) %}
                {% elseif entity.type == 'stock' %}
                    {% set urlEntity = path('app_core_bundle_article_stock_item', {'slug': entity.slug}) %}
                {% endif %}



                <div class="contentInfoBlock hover">
                    <div class="prods_content decks">
                        <div class="forecastle">
                            <ol class="masthead">
                                <li class="port_side left_side4">
                                    <div class="pic_padd wrapper_pic_div" style="width:220px;height:220px;">
                                        {% if entity.imageName is not null %}
                                            {% set image = getImage(entity.imageName, 'article') %}

                                            {% if image is not null %}
                                            <a class="prods_pic_bg" href="{{ urlEntity }}" style="width:220px;height:220px;">
                                                <img src="{{ getImage(entity.imageName, 'article') | imagine_filter('article_preview') }}" alt="{{ entity.title }}" title="{{ entity.title }}">
                                            </a>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </li>
                                <li class="starboard_side bak4">
                                    <div class="info">
                                        <div class="data data_padd">
								            <span>Добавлено:</span> {{ entity.createdAt|date('d.m.Y') }}
                                        </div>
                                        <h2 class="name name2_padd">
                                            <span class="name">
                                                <a href="{{ urlEntity }}">{{ entity.title }}</a>
                                            </span>
                                        </h2>
                                        <div class="desc desc2_padd">
                                            {% set content = entity.content|raw %}
                                            {{ content|length > 220 ? content[:220]|striptags ~ ' ...' : content|raw }}
                                        </div>
                                        <div class="button button2__padd">
                                            <strong class="button_content button_content22">
                                                <strong class="button bg_button">
                                                    <strong class="button-t">
                                                        <a href="{{ urlEntity }}" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary ui-priority-secondary" role="button">
                                                            <span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-e"></span>
                                                            <span class="ui-button-text">Подробнее</span>
                                                        </a>
                                                    </strong>
                                                </strong>
                                            </strong>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="prods_hseparator">
                    <img src="{{ asset('images/spacer.gif') }}" alt="" width="1" height="1">
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    {% if entities|length > paginateParameter %}
        <div class="result result2_top">
            <div class="result2_bottom">
                <div class="cl_both result_bottom_padd ofh">
                    {{ knp_pagination_render(entities) }}
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}