{% extends '@AppCore/Layouts/layout.html.twig' %}

{% block page_title %}
    Заголовок
{% endblock %}

{% block content %}

    {% for entity in entities %}
        <div class="article-list row">
            {% if entity.imageName is not null %}
                <div class="col-md-3">
                    <a href="#">
                        {% set image = getImage(entity.imageName, 'article') %}

                        {% if image is not null %}
                            <img style="width:100%" src="{{ getImage(entity.imageName, 'article') }}" data-holder-rendered="true" />
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-8">
            {% else %}
                <div class="col-md-12">
            {% endif %}
                <p>{{ entity.createdAt|date('d.m.Y') }}</p>
                <h3><a href="{{ path('app_core_bundle_article_article_item', {id: entity.id}) }}">{{ entity.title }}</a></h3>
                <div>
                    {{ entity.content|raw[:220] }}
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="row">
        <div class="col-md-12 text-center">
            <div class="navigation">
                {{ knp_pagination_render(entities) }}
            </div>
        </div>
    </div>

{% endblock %}